In [41]:
import warnings
warnings.filterwarnings('ignore')

In [42]:
import pandas as pd
import numpy as np

In [43]:
movies = pd.read_csv("movies_metadata.csv.xls")

In [44]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [45]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [46]:
movies.shape

(45466, 24)

In [47]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [48]:
movies.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

    we want to consider before:
        - choosing a metric
        - decide on the prerequistes for the movie to be features on the chat
        - calculate the score for every movie that satisfies the conditions
        - output the movies in decreasing order of their scores

THE METRIX

The metric is the numeric quantity on which we rank movies.
- we need a metrix which can to an extent take into account the movie rating and the number of votes(popularity).
- This would give a greater preference to a blockbuster movie rated 8 by 1,00,000 user over an art movie rated 9 by 100 users.
- Movies with few ratings are not that much reliable.
- A movie rated 10/10 by 5 users does not necessarily means that is a good movie.
- Here we are using IMBD's weighted rating formula
       
   **ur = (( v / v + m ) * R) + (( m / v + m ) * C)**
        
      here, 
         
  -  v : is the number of votes garnered by the movie
  -  m : is the minimum number of votes required for the movie to be in the chart(the prerequisite)
   - R : mean rating of the movie
   - C : mean rating of all the movies in the dataset

In [49]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [50]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

### THE PREREQUISTIES

- There is no fixed value for m(it is an arbitary value)
- For our purpose we are using 80th percentile movie as our value for m.
- For a movie to be considered in the rankings,it must have garnered more votes that at least 80% of the movies present in our dataset

In [51]:
# calculate the number of votes garnered by the 80th percentile movie
m = movies["vote_count"].quantile(0.80)
m

50.0

### consider movies only more than 45 minutes and less than 300 minutes

In [52]:
movies["runtime"].dtype

dtype('float64')

In [53]:
# movies <45 and <300
q_movies = movies[(movies["runtime"] > 45 ) & ( movies["runtime"] <=300)]

In [54]:
q_movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [55]:
q_movies = q_movies[q_movies["vote_count"] >= m]

In [56]:
q_movies.shape

(8960, 24)

In [57]:
movies.shape

(45466, 24)

### Calculate the score

In [58]:
C = movies["vote_average"].mean()

In [59]:
C

5.618207215134185

In [60]:
# function to calculate the IMBD weighted rating for each movie
def weighted_rating(x,m=m,C=C):
    v = x["vote_count"]
    R = x['vote_average']
    # compute the weighted rating
    return (v/(v+m)*R) + (m/(m+v)*C)

In [61]:
q_movies["score"] = q_movies.apply(weighted_rating,axis=1)

In [62]:
q_movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,7.680953
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,6.873979
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,6.189510
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,5.681661
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,7.646235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45268,False,NaN,5402000,"[{'id': 35, 'name': 'Comedy'}]",NaN,277839,tt4531694,fr,Pattaya,Franky and Krimo dream of leaving the grey gri...,...,0.0,100.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,"Good Guys Go to Heaven, Bad Guys Go to Pattaya",False,5.3,153.0,5.378376
45339,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,430365,tt5804948,fr,À bras ouverts,Jean-Étienne Fougerole is an intellectual bohe...,...,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Thanks for the invitation!,With Open Arms,False,5.2,94.0,5.345211
45343,False,"{'id': 52888, 'name': 'The Visitors Collection...",25868826,"[{'id': 35, 'name': 'Comedy'}]",NaN,248705,tt2441982,fr,Les Visiteurs: La Révolution,"Stuck in the corridors of time, Godefroy de Mo...",...,0.0,110.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Visitors: Bastille Day,False,4.0,167.0,4.372859
45348,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,44918,tt1640571,en,Titanic II,On the 100th anniversary of the original voyag...,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"100 years later, lightning strikes twice",Titanic 2,False,3.4,55.0,4.456289
45441,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0,5.307233

### sorting and output

In [63]:
q_movies.sort_values(by="score",ascending=False,inplace=True)

In [64]:
q_movies[["title","vote_count","vote_average","score","runtime"]]

,title,vote_count,vote_average,score,runtime
10309,Dilwale Dulhania Le Jayenge,661.0,9.1,8.855148,190.0
314,The Shawshank Redemption,8358.0,8.5,8.482863,142.0
834,The Godfather,6024.0,8.5,8.476278,175.0
40251,Your Name.,1030.0,8.5,8.366584,106.0
12481,The Dark Knight,12269.0,8.3,8.289115,152.0
...,...,...,...,...,...
17708,Birdemic: Shock and Terror,69.0,2.1,3.578238,95.0
12911,Disaster Movie,250.0,3.1,3.519701,87.0
11557,Epic Movie,334.0,3.2,3.514871,86.0
3471,Battlefield Earth,259.0,3.0,3.423658,118.0
13566,Dragonball Evolution,475.0,2.9,3.158877,85.0

In [65]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [66]:
movies["original_language"].unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, '104.0', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo',
       'ay', 'kn', 'eu', 'ne', 'pa', 'ky', 'gl', '68.0', 'uz', 'sm', 'mt',
       '82.0', 'hy', 'iu', 'lb', 'si'], dtype=object)

In [68]:
movies["original_language"]== "ml"

0        False
1        False
2        False
3        False
4        False
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: original_language, Length: 45466, dtype: bool

In [71]:
m_movies = movies[(movies["runtime"]>=45) & (movies["runtime"]<=300)]

In [72]:
m_movies = m_movies[m_movies["original_language"] == "ml"]
m_movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
21727,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,256382,tt0078381,ml,തമ്പു്,"Across a dirt road, the circus truck comes to ...",...,1978-01-18,0.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,The Circus Tent,False,5.0,1.0
22148,False,NaN,110000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10402, ...",NaN,180048,tt2786278,ml,ആമേൻ,"Solomon, who belongs to a band, is in love wit...",...,2013-03-21,270000.0,165.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,What we play is life,Amen,False,6.9,6.0
25761,False,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",http://aashirvadcinemas.com/view_details.php?m...,244049,tt3417422,ml,ദൃശ്യം,Georgekutty lives a happy life with his wife a...,...,2013-12-19,12000000.0,160.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,Visuals can be deceiving,Drishyam,False,8.1,23.0
30214,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,126969,tt0116749,ml,കഥാപുരുഷൻ,This intimately-constructed drama traces the c...,...,1996-09-06,0.0,107.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Man of the Story,False,5.0,1.0
32016,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,207649,tt0202055,ml,വാനപ്രസ്ഥം,"Kunhikuttan, a famous Kathakali dancer, meets ...",...,1999-05-13,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Vanaprastham,False,7.2,6.0
32121,False,NaN,39000,"[{'id': 18, 'name': 'Drama'}]",NaN,169364,tt0069334,ml,സ്വയംവരം,"Vishwam and Sita, who resist the opposition fr...",...,1972-11-23,0.0,131.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Swayamvaram,False,8.0,1.0
32206,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",https://www.facebook.com/MemoriesMalayalamMovie,217389,tt3124456,ml,മെമ്മറീസ്,"Prithviraj is a police officer named Sam Alex,...",...,2013-08-08,0.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An Episode in the Life of a Police Officer...!,Memories,False,7.2,9.0
32207,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",NaN,190945,tt2924472,ml,മുംബൈ പോലീസ്,Mumbai Police tells the friendship of 3 police...,...,2013-05-02,0.0,145.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Mumbai Police,False,7.4,10.0
33163,False,NaN,7400000,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,268660,tt3668162,ml,ബാംഗ്ലൂർ ഡെയ്സ്,A fun roller coaster ride about three young pe...,...,2014-05-30,1300000.0,172.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Three cousins set out to fulfill their Bangalo...,Bangalore Days,False,7.4,19.0
33164,False,NaN,220000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,257160,tt3517192,ml,ഓം ശാന്തി ഓശാന,"Pooja Mathew (Nazriya Nazim), daughter of Doct...",...,2014-02-07,1500000.0,130.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Ohm Shanthi Oshaana,False,6.9,8.0
33292,False,NaN,18000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,134474,tt0353496,ml,ഗോഡ്ഫാദർ,"The story of Anjooran (N. N. Pillai), and his ...",...,1991-03-03,700000.0,150.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Godfather,False,6.9,4.0
34216,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,278393,tt4176604,ml,വർഷം,"The film narrates the tale of Venu, owner of a...",...,2014-11-06,0.0,140.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Varsham,False,6.7,6.0
34217,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,134477,tt0353975,ml,സന്ദേശം,"After his retirement, Raghavan Nair (Thilakan)...",...,1991-02-04,0.0,137.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,The message,Sandesham,False,8.8,5.0
34640,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,84368,tt0214915,ml,മണിച്ചിത്രത്താഴ്,"A young couple, Ganga (Shobana) and Nakulan (S...",...,1993-12-25,0.0,169.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,The Ornate Lock,Manichitrathazhu,False,7.4,9.0
34641,False,"{'id': 415699, 'name': 'Devasuram Collection',...",0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,237672,tt0291855,ml,ദേവാസുരം,"Neelakantan, heir to his father's fortunes, is...",...,1993-04-14,0.0,160.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Devasuram,False,6.4,8.0
34956,False,NaN,6200000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,341895,tt4679210,ml,പ്രേമം,"Three stages in George's life, and three girls...",...,2015-05-29,11000000.0,165.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,Love,Premam,False,6.4,13.0
35124,False,NaN,1050255,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,338930,tt4881242,ml,ലോഹം,2015 Malayalam thriller film written and direc...,...,2015-08-20,2250547.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,The Yellow Metal,Loham,False,4.4,5.0
35125,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,332827,tt4553712,ml,എന്നും എപ്പോഴും,"Vineeth, a senior reporter, tries to interview...",...,2015-03-27,0.0,147.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Ennum Eppozhum,False,5.3,5.0
35126,False,NaN,598500,"[{'id': 18, 'name': 'Drama'}]",NaN,120149,tt2175672,ml,സ്പിരിറ്റ്,Raghunandan (Mohanlal) is a TV show host and a...,...,2012-06-14,0.0,145.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Spirit,False,6.3,9.0
35153,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,179375,tt2773898,ml,റെഡ്‌ വൈൻ,An investigatory story that centers around an ...,...,2013-03-22,0.0,146.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Red Wine,False,4.6,5.0
35270,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",NaN,178314,tt2522328,ml,ഷട്ടര്‍,Rasheed (Lal) is a Malayali non-resident India...,...,2013-02-22,0.0,134.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Shutter,False,7.7,6.0
39419,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,137308,tt0470913,ml,Sancharram,"In Sancharram (""The Journey""), Kiran is mortif...",...,2004-10-01,0.0,107.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Sancharram,False,5.3,3.0
39501,False,NaN,1900000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.facebook.com/CharlieMovieOfficial,372297,tt5082014,ml,ചാര്‍ലി,"A young, nonconforming woman named Tessa gets ...",...,2015-12-24,5900000.0,130.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Charlie,False,7.4,10.0
39813,False,NaN,120000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",NaN,105506,tt2345561,ml,ഗ്രാന്‍റ്മാസ്റ്റര്‍,Chandrashekhar lives alone in a dark and viole...,...,2012-05-03,130000.0,130.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,Anything can happen before the next move,Grandmaster,False,6.1,10.0
40322,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}]",NaN,278041,tt0271572,ml,അയ്യർ ദ ഗ്രേറ്റ്,"Vaikundam Soorya Narayana Iyer (Mammootty), a ...",...,1990-08-31,0.0,115.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Iyer the Great,False,0.0,0.0
40323,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",https://www.facebook.com/MaheshintePrathikaara...,381691,tt4851630,ml,മഹേഷിന്‍റെ പ്രതികാരം,"Mahesh, a studio photographer and owner of the...",...,2016-02-05,230000.0,121.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Maheshinte Prathikaaram,False,7.7,9.0
40354,False,"{'id': 415695, 'name': 'Nadodikkattu Collectio...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,152625,tt0254942,ml,അക്കരെയക്കരെയക്കരെ,After Nadodikkattu (1987) and Pattana Pravesha...,...,1990-01-01,0.0,150.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,An American Mission of Mohanlal & Sreenivasan,Akkare Akkare Akkare,False,7.3,4.0
40355,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,210737,tt0290937,ml,യോദ്ധാ,Ashokan (Mohanlal) goes on a trip to Nepal to ...,...,1992-09-02,0.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Yodha,False,8.3,5.0
40356,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://pinneyum.com,411822,tt5578722,ml,പിന്നെയും,After years spent living off the modest wealth...,...,2016-08-18,0.0,122.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Once Again,False,0.0,0.0
41516,False,NaN,450000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,422603,tt5998104,ml,ആനന്ദം,Aanandam is a 2016 Indian Malayalam campus mus...,...,2016-10-21,2300000.0,134.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Aanandam,False,6.4,7.0
41517,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,402217,tt5528278,ml,ഹാപ്പി വെഡ്‌ഡിങ്,The story of an engineering graduate (Wilson) ...,...,2016-05-20,0.0,128.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Happy Wedding,False,4.7,5.0
41518,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,411279,tt5436168,ml,പ്രേതം,Three happy-go-lucky friends run a coastal res...,...,2016-08-12,0.0,127.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,How? Why? What did you gain?,Pretham,False,5.7,7.0
41519,False,NaN,600000,"[{'id': 18, 'name': 'Drama'}]",http://www.guppy.in/,411054,tt5889462,ml,ഗപ്പി,The story revolves around a boy named Guppy(Ma...,...,2016-08-05,0.0,158.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Guppy,False,7.9,4.0
41520,False,NaN,1500000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,398786,tt5458088,ml,കമ്മട്ടിപ്പാടം,"Krishnan, who has been living away from his fa...",...,2016-05-20,0.0,177.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Kammatipaadam,False,8.1,9.0
41521,False,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.facebook.com/Actionherobiju/,381374,tt5320514,ml,ആക്ഷൻ ഹീറോ ബിജു,Biju is an honest policeman who fights the inj...,...,2016-02-04,2500000.0,144.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,A ride with a police officer,Action Hero Biju,False,7.7,6.0
44285,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,117751,tt2218988,ml,ഉസ്‌താദ്‌ Hotel,Ustad Hotel is a quaint place run by a foodie ...,...,2012-06-29,0.0,150.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Ustad Hotel,False,7.2,15.0

In [73]:
def weighted_rating(x,m=m,C=C):
    v = x["vote_count"]
    R = x["vote_average"]
    #compute the weigthed rating
    return (v/(v+m) * R) + (m/(m+v) * C)

In [74]:
m_movies["score"] = m_movies.apply(weighted_rating,axis=1)
m_movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
21727,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,256382,tt0078381,ml,തമ്പു്,"Across a dirt road, the circus truck comes to ...",...,0.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,The Circus Tent,False,5.0,1.0,5.606086
22148,False,NaN,110000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10402, ...",NaN,180048,tt2786278,ml,ആമേൻ,"Solomon, who belongs to a band, is in love wit...",...,270000.0,165.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,What we play is life,Amen,False,6.9,6.0,5.755542
25761,False,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",http://aashirvadcinemas.com/view_details.php?m...,244049,tt3417422,ml,ദൃശ്യം,Georgekutty lives a happy life with his wife a...,...,12000000.0,160.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,Visuals can be deceiving,Drishyam,False,8.1,23.0,6.400142
30214,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,126969,tt0116749,ml,കഥാപുരുഷൻ,This intimately-constructed drama traces the c...,...,0.0,107.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Man of the Story,False,5.0,1.0,5.606086
32016,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,207649,tt0202055,ml,വാനപ്രസ്ഥം,"Kunhikuttan, a famous Kathakali dancer, meets ...",...,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Vanaprastham,False,7.2,6.0,5.787685
32121,False,NaN,39000,"[{'id': 18, 'name': 'Drama'}]",NaN,169364,tt0069334,ml,സ്വയംവരം,"Vishwam and Sita, who resist the opposition fr...",...,0.0,131.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Swayamvaram,False,8.0,1.0,5.664909
32206,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",https://www.facebook.com/MemoriesMalayalamMovie,217389,tt3124456,ml,മെമ്മറീസ്,"Prithviraj is a police officer named Sam Alex,...",...,0.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An Episode in the Life of a Police Officer...!,Memories,False,7.2,9.0,5.859498
32207,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",NaN,190945,tt2924472,ml,മുംബൈ പോലീസ്,Mumbai Police tells the friendship of 3 police...,...,0.0,145.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Mumbai Police,False,7.4,10.0,5.915173
33163,False,NaN,7400000,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,268660,tt3668162,ml,ബാംഗ്ലൂർ ഡെയ്സ്,A fun roller coaster ride about three young pe...,...,1300000.0,172.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Three cousins set out to fulfill their Bangalo...,Bangalore Days,False,7.4,19.0,6.108846
33164,False,NaN,220000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,257160,tt3517192,ml,ഓം ശാന്തി ഓശാന,"Pooja Mathew (Nazriya Nazim), daughter of Doct...",...,1500000.0,130.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Ohm Shanthi Oshaana,False,6.9,8.0,5.795006
33292,False,NaN,18000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,134474,tt0353496,ml,ഗോഡ്ഫാദർ,"The story of Anjooran (N. N. Pillai), and his ...",...,700000.0,150.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Godfather,False,6.9,4.0,5.713155
34216,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,278393,tt4176604,ml,വർഷം,"The film narrates the tale of Venu, owner of a...",...,0.0,140.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Varsham,False,6.7,6.0,5.734114
34217,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,134477,tt0353975,ml,സന്ദേശം,"After his retirement, Raghavan Nair (Thilakan)...",...,0.0,137.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,The message,Sandesham,False,8.8,5.0,5.907461
34640,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,84368,tt0214915,ml,മണിച്ചിത്രത്താഴ്,"A young couple, Ganga (Shobana) and Nakulan (S...",...,0.0,169.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,The Ornate Lock,Manichitrathazhu,False,7.4,9.0,5.890006
34641,False,"{'id': 415699, 'name': 'Devasuram Collection',...",0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,237672,tt0291855,ml,ദേവാസുരം,"Neelakantan, heir to his father's fortunes, is...",...,0.0,160.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Devasuram,False,6.4,8.0,5.726041
34956,False,NaN,6200000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,341895,tt4679210,ml,പ്രേമം,"Three stages in George's life, and three girls...",...,11000000.0,165.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,Love,Premam,False,6.4,13.0,5.779530
35124,False,NaN,1050255,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,338930,tt4881242,ml,ലോഹം,2015 Malayalam thriller film written and direc...,...,2250547.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,The Yellow Metal,Loham,False,4.4,5.0,5.507461
35125,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,332827,tt4553712,ml,എന്നും എപ്പോഴും,"Vineeth, a senior reporter, tries to interview...",...,0.0,147.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Ennum Eppozhum,False,5.3,5.0,5.589279
35126,False,NaN,598500,"[{'id': 18, 'name': 'Drama'}]",NaN,120149,tt2175672,ml,സ്പിരിറ്റ്,Raghunandan (Mohanlal) is a TV show host and a...,...,0.0,145.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Spirit,False,6.3,9.0,5.722210
35153,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,179375,tt2773898,ml,റെഡ്‌ വൈൻ,An investigatory story that centers around an ...,...,0.0,146.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Red Wine,False,4.6,5.0,5.525643
35270,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",NaN,178314,tt2522328,ml,ഷട്ടര്‍,Rasheed (Lal) is a Malayali non-resident India...,...,0.0,134.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Shutter,False,7.7,6.0,5.841256
39419,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,137308,tt0470913,ml,Sancharram,"In Sancharram (""The Journey""), Kiran is mortif...",...,0.0,107.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Sancharram,False,5.3,3.0,5.600195
39501,False,NaN,1900000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.facebook.com/CharlieMovieOfficial,372297,tt5082014,ml,ചാര്‍ലി,"A young, nonconforming woman named Tessa gets ...",...,5900000.0,130.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Charlie,False,7.4,10.0,5.915173
39813,False,NaN,120000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",NaN,105506,tt2345561,ml,ഗ്രാന്‍റ്മാസ്റ്റര്‍,Chandrashekhar lives alone in a dark and viole...,...,130000.0,130.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,Anything can happen before the next move,Grandmaster,False,6.1,10.0,5.698506
40322,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}]",NaN,278041,tt0271572,ml,അയ്യർ ദ ഗ്രേറ്റ്,"Vaikundam Soorya Narayana Iyer (Mammootty), a ...",...,0.0,115.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Iyer the Great,False,0.0,0.0,5.618207
40323,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",https://www.facebook.com/MaheshintePrathikaara...,381691,tt4851630,ml,മഹേഷിന്‍റെ പ്രതികാരം,"Mahesh, a studio photographer and owner of the...",...,230000.0,121.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Maheshinte Prathikaaram,False,7.7,9.0,5.935769
40354,False,"{'id': 415695, 'name': 'Nadodikkattu Collectio...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,152625,tt0254942,ml,അക്കരെയക്കരെയക്കരെ,After Nadodikkattu (1987) and Pattana Pravesha...,...,0.0,150.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,An American Mission of Mohanlal & Sreenivasan,Akkare Akkare Akkare,False,7.3,4.0,5.742784
40355,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,210737,tt0290937,ml,യോദ്ധാ,Ashokan (Mohanlal) goes on a trip to Nepal to ...,...,0.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Yodha,False,8.3,5.0,5.862007
40356,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://pinneyum.com,411822,tt5578722,ml,പിന്നെയും,After years spent living off the modest wealth...,...,0.0,122.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Once Again,False,0.0,0.0,5.618207
41516,False,NaN,450000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,422603,tt5998104,ml,ആനന്ദം,Aanandam is a 2016 Indian Malayalam campus mus...,...,2300000.0,134.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Aanandam,False,6.4,7.0,5.714217
41517,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,402217,tt5528278,ml,ഹാപ്പി വെഡ്‌ഡിങ്,The story of an engineering graduate (Wilson) ...,...,0.0,128.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Happy Wedding,False,4.7,5.0,5.534734
41518,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,411279,tt5436168,ml,പ്രേതം,Three happy-go-lucky friends run a coastal res...,...,0.0,127.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,How? Why? What did you gain?,Pretham,False,5.7,7.0,5.628252
41519,False,NaN,600000,"[{'id': 18, 'name': 'Drama'}]",http://www.guppy.in/,411054,tt5889462,ml,ഗപ്പി,The story revolves around a boy named Guppy(Ma...,...,0.0,158.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Guppy,False,7.9,4.0,5.787229
41520,False,NaN,1500000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,398786,tt5458088,ml,കമ്മട്ടിപ്പാടം,"Krishnan, who has been living away from his fa...",...,0.0,177.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Kammatipaadam,False,8.1,9.0,5.996786
41521,False,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.facebook.com/Actionherobiju/,381374,tt5320514,ml,ആക്ഷൻ ഹീറോ ബിജു,Biju is an honest policeman who fights the inj...,...,2500000.0,144.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,A ride with a police officer,Action Hero Biju,False,7.7,6.0,5.841256
44285,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,117751,tt2218988,ml,ഉസ്‌താദ്‌ Hotel,Ustad Hotel is a quaint place run by a foodie ...,...,0.0,150.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Ustad Hotel,False,7.2,15.0,5.983236

In [75]:
m_movies.sort_values(by="score",ascending=False,inplace=True)
m_movies[["original_title","vote_average","score","runtime"]]

             original_title  vote_average     score  runtime
25761                ദൃശ്യം           8.1  6.400142    160.0
33163       ബാംഗ്ലൂർ ഡെയ്സ്           7.4  6.108846    172.0
41520        കമ്മട്ടിപ്പാടം           8.1  5.996786    177.0
44285       ഉസ്‌താദ്‌ Hotel           7.2  5.983236    150.0
40323  മഹേഷിന്‍റെ പ്രതികാരം           7.7  5.935769    121.0
32207          മുംബൈ പോലീസ്           7.4  5.915173    145.0
39501               ചാര്‍ലി           7.4  5.915173    130.0
34217               സന്ദേശം           8.8  5.907461    137.0
34640      മണിച്ചിത്രത്താഴ്           7.4  5.890006    169.0
40355                യോദ്ധാ           8.3  5.862007    129.0
32206             മെമ്മറീസ്           7.2  5.859498    132.0
35270               ഷട്ടര്‍           7.7  5.841256    134.0
41521       ആക്ഷൻ ഹീറോ ബിജു           7.7  5.841256    144.0
33164        ഓം ശാന്തി ഓശാന           6.9  5.795006    130.0
32016            വാനപ്രസ്ഥം           7.2  5.787685    119.0
41519                 ഗപ്പി           7.9  5.787229    158.0
34956                പ്രേമം           6.4  5.779530    165.0
22148                  ആമേൻ           6.9  5.755542    165.0
40354    അക്കരെയക്കരെയക്കരെ           7.3  5.742784    150.0
34216                  വർഷം           6.7  5.734114    140.0
34641              ദേവാസുരം           6.4  5.726041    160.0
35126            സ്പിരിറ്റ്           6.3  5.722210    145.0
41516                ആനന്ദം           6.4  5.714217    134.0
33292              ഗോഡ്ഫാദർ           6.9  5.713155    150.0
39813   ഗ്രാന്‍റ്മാസ്റ്റര്‍           6.1  5.698506    130.0
32121              സ്വയംവരം           8.0  5.664909    131.0
41518                പ്രേതം           5.7  5.628252    127.0
40322      അയ്യർ ദ ഗ്രേറ്റ്           0.0  5.618207    115.0
40356             പിന്നെയും           0.0  5.618207    122.0
30214             കഥാപുരുഷൻ           5.0  5.606086    107.0
21727                തമ്പു്           5.0  5.606086    129.0
39419            Sancharram           5.3  5.600195    107.0
35125       എന്നും എപ്പോഴും           5.3  5.589279    147.0
41517      ഹാപ്പി വെഡ്‌ഡിങ്           4.7  5.534734    128.0
35153             റെഡ്‌ വൈൻ           4.6  5.525643    146.0
35124                  ലോഹം           4.4  5.507461    129.0